@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header{
    display: flex;
    justify-content: space-around;
}

.hero-content{
    display: flex;
    justify-content: space-around;
}

.section1{
    background-color: #f9faf8 ;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding-top: 1em;
}

.image-row{
    display: flex;
    justify-content: center;
    max-width: 100px;
    gap: 1em;
    font-size: 9px;
}

.section2{
    background-color: #e5e7eb;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.section3{
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: solid;

}

.box{
    background-color: #3882f6;

}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #e5e7eb;
    flex: .5;
    justify-content: center;
    justify-self: end;

}



.big{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.logo{
    color: #f9faf8;
}

.links{
    color:#f9faf8;
}

.small{
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
}

button{
    color: #f9faf8;
    background-color: #3882f6;
}

.medium{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.author{
    font-weight: 700;
}

.box{
    background-color: #3882f6;
    color: #f9faf8;
}



